<div class="submenu-tall" style="justify-content: center">
  <h4 class="sub-header">Sign up</h4>
</div>

<div class="container">
  <div class="row form-add-project">
    <div class="col-8">
      <div class="form-box">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" }%>
            <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last_name" }%>  %>
            <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" }%>  %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

            <%= f.input :avatar,
                        required: true %>
            <%= f.input :avatar_cache, as: :hidden %>

          <div class="form-actions">
            <%= f.button :submit, "User.new", class: "btn-signup" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<div class="log-in-alt">
  <%= render "devise/shared/links" %>
</div>
