<div class="submenu-tall" style="justify-content: center">
  <h4 class="sub-header">Forgot your password?</h4>
</div>

<div class="container">
  <div class="row form-add-project">
    <div class="col-lg-8">
      <div class="form-box">

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<div class="log-in-alt">
  <%= render "devise/shared/links" %>
</div>

