<div class="pos-f-t">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark py-0">
    <%= link_to "/", class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "hackeroasis.svg", height: "20px" %>
    <% end %>
    <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarExpandedContent">
      <% if user_signed_in? %>
        <% if !current_user.notifications.nil? %>
        <div>
          <ul>
            <li>
              <a class="dropdown-toggle nav-link" type="button" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <button></button>
              </a>
              <div class="dropdown-menu"aria-labelledby="dropdownMenuLink">
                <% current_user.notifications.each do |noti| %>
                <a class="dropdown-item" href="#"><%= noti.actor.username %> <%= noti.action %> "<%= noti.notifiable.project.name %>" at <%= noti.created_at.strftime("%b %e, %l:%M %p") %></a>
              <% end %>
              </div>
            </li>
          </ul>
        </div>
        <% end %>



        <div class="dropdown-avatar" style="margin-right: 8px;">
          <img class="avatar-medium dropbtn" src="<%= current_user.profile_avatar_url %>"/>
          <div class="dropdown-content">
            <div class="dropdown-container">
              <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
            </div>
            <div class="dropdown-container">
              <%= link_to "Add Project", new_project_path, class: "dropdown-item" %>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-container">
              <%= link_to "Account Settings", edit_user_registration_path, class: "dropdown-item" %>
            </div>
            <div class="dropdown-container">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="box-nav-links">
            <%= link_to "Login", new_user_session_path %>
            <span style="border-right: 1px solid rgba(229,229,229,0.2); margin-right: 8px;"></span>
            <%= link_to "Sign Up", new_user_registration_path%>
        </div>
      <% end %>

      <div class="box-search">
        <%= form_tag('/projects', method: :get, class: "form-inline my-2 my-lg-0" ) do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control mr-sm-2",
            type: "search",
            'aria-label': "Search",
            placeholder: "Find a project..."
          %>
          <%= submit_tag "Search", class: "btn btn-outline-secondary my-2 my-sm-0", type: "submit" %>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-3">
      <div class="toggle-box-search">
       <%= form_tag('/projects', method: :get, class: "form-inline my-2 my-lg-0" ) do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control mr-sm-2",
            type: "search",
            'aria-label': "Search",
            placeholder: "Find a project..."
          %>
          <%= submit_tag "Search", class: "btn btn-outline-secondary my-2 my-sm-0", type: "submit" %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="toggle-box-avatar">
          <%= link_to user_path(current_user) do %>
            <img class="avatar-medium" src="<%= current_user.profile_avatar_url %>"/>
            <h5><%= current_user.username %></h5>
          <% end %>
          <div class="toggle-item">
            <%= link_to "Profile", user_path(current_user) %>
          </div>
          <div class="toggle-item">
            <%= link_to "Add Project", new_project_path %>
          </div>
        </div>
        <div class="toggle-item">
          <%= link_to "Account Settings", edit_user_registration_path %>
        </div>
        <div class="toggle-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="toggle-item">
          <%= link_to "Login", new_user_session_path %>
        </div>
        <div class="toggle-item">
          <%= link_to "Sign Up", new_user_registration_path %>
        </div>
      <% end %>
    </div>



  </div>
</div>

