<h6 style="margin:0;">Project Collaborators</h6>

<div class="box-collaborators">
  <i class="fas fa-users"></i>
  <div class="avatar-list">
    <% @project.collaborations.map do |collaboration| %>
      <%= link_to user_path(collaboration.user) do %>
        <img src="<%= collaboration.user.avatar.url(:bright_face) %>" class="avatar-small" data-toggle="tooltip" data-placement="top" title="<%= collaboration.user.username %>">
      <% end %>
    <% end %>
  </div>
</div>
<% if policy(@project).update? %>
  <%= simple_form_for [@project, @collaboration] do |f| %>
    <%= f.input :user, collection: @users, label: false %>
    <%= f.button :submit, "Add Collaborator", class: "btn-social" %>
  <% end %>
<% end %>
