<% if user_signed_in? == false %>
  <div class="banner-index">

    <!-- beginning of first animation -->
    <svg class="palm-tree-left" width="193" height="146" viewBox="0 0 193 146" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
    <path d="M84.3493 144.685H101.502C96.6583 131.314 89.2343 114.784 79.2123 103.67C72.8293 96.6094 67.4073 91.2778 63.0473 86.9917C55.3973 79.4754 49.9463 74.1126 46.2893 66.311C40.5283 70.9745 30.2463 82.8118 35.2703 105.505C35.6573 107.525 34.3683 109.489 32.3593 109.932C30.3503 110.377 28.3523 109.142 27.8523 107.145C22.7563 84.172 31.5453 70.2596 38.6633 63.1347C34.3913 62.832 30.1623 64.154 26.8233 66.8363C19.4473 73.3576 20.7733 86.6647 20.7883 86.7969C21.0093 88.8773 19.5083 90.7455 17.4293 90.9769C17.2873 90.996 17.1463 91.0047 17.0033 91.0047C15.0693 90.9995 13.4463 89.5436 13.2343 87.6214C13.1543 86.9187 11.4403 70.324 21.7543 61.1673C23.3753 59.7322 25.2083 58.5546 27.1863 57.6744C19.8793 58.4241 12.9663 61.3569 7.34732 66.0918C5.77732 67.3686 3.47931 67.1912 2.12431 65.6848C0.770313 64.1801 0.83531 61.8753 2.27031 60.4489C11.1523 52.5882 23.0153 48.9805 34.7693 50.5686C29.0793 46.8339 22.0493 45.7485 15.4993 47.5889C13.5103 48.2638 11.3533 47.1992 10.6783 45.2127C10.0043 43.2245 11.0683 41.0675 13.0553 40.3926C22.8373 37.6094 33.3613 39.6725 41.3723 45.9398C42.1423 38.7418 45.7333 32.1422 51.3583 27.5865C52.3763 26.6141 53.8463 26.2836 55.1813 26.7255C56.5163 27.169 57.4983 28.3136 57.7323 29.7C57.9663 31.0881 57.4153 32.4901 56.2983 33.3477C51.7913 36.9015 49.0693 42.2521 48.8463 47.989C50.9463 44.7083 53.8353 42.0103 57.2513 40.1421C70.2023 33.0433 87.0633 39.6203 87.7743 39.909C89.6693 40.7214 90.5713 42.8957 89.8083 44.8109C89.0443 46.7261 86.8913 47.6828 84.9583 46.9661C84.8173 46.9087 70.7533 41.4102 60.9043 46.8061C58.3193 48.2725 56.1923 50.4277 54.7593 53.03C71.8023 47.5628 87.5693 59.2208 94.3093 67.4208C95.1723 68.4697 95.4113 69.8995 94.9343 71.1711C94.4563 72.4427 93.3373 73.3629 91.9983 73.5855C90.6583 73.8082 89.3013 73.3002 88.4393 72.2513C87.7203 71.3764 71.3403 51.9324 52.7503 62.1727C55.7893 69.2194 60.5133 73.8743 68.3603 81.5872C72.7873 85.9428 78.3013 91.3613 84.8403 98.5889C96.3433 111.353 104.505 130.261 109.54 144.701H114.86C114.206 133.575 113.298 101.002 123.027 78.3204C126.868 69.3516 130.329 62.4284 133.111 56.8656C138.041 47.0235 140.97 41.0954 141.601 33.4416C120.795 29.7939 111.489 53.4683 111.087 54.5277C110.321 56.4481 108.163 57.4048 106.227 56.6812C104.291 55.9575 103.287 53.8197 103.969 51.868C107.7 41.9199 118.861 25.7583 136.802 25.4539C134.591 23.4518 131.871 22.1019 128.94 21.5557C117.937 19.6562 106.314 29.3956 106.195 29.4895C104.597 30.7889 102.254 30.5767 100.913 29.0112C99.5733 27.4456 99.7243 25.0973 101.255 23.7179C101.838 23.2204 115.669 11.5276 130.213 14.0655C134.048 14.7282 137.656 16.346 140.704 18.7673C138.639 13.4149 134.334 9.23667 128.924 7.33193C126.974 6.55438 126.024 4.34175 126.803 2.39179C127.583 0.443565 129.794 -0.506196 131.744 0.271355C138.541 2.76404 144.073 7.84856 147.129 14.4116C152.682 5.8899 161.972 0.535757 172.129 0.00173457C174.229 -0.00348389 175.933 1.69426 175.939 3.79208C175.944 5.89164 174.248 7.59633 172.148 7.60155C165.349 7.97728 159.045 11.2823 154.87 16.6608C165.484 11.3606 177.88 10.9448 188.827 15.5214C190.093 16.0433 190.982 17.207 191.151 18.5673C191.319 19.9276 190.742 21.2722 189.641 22.088C188.54 22.9038 187.084 23.0639 185.833 22.5055V22.495C178.953 19.7797 171.409 19.2405 164.215 20.9469C166.413 21.1295 168.57 21.6531 170.609 22.4985C183.338 27.83 187.085 44.0821 187.238 44.7779C187.691 46.8218 186.405 48.8483 184.361 49.3075C184.088 49.3684 183.81 49.3997 183.53 49.4014C181.752 49.4032 180.211 48.1716 179.821 46.4373C179.793 46.3086 176.742 33.2868 167.66 29.5017C163.632 28.037 159.198 28.1536 155.249 29.8252C164.286 34.2592 177.108 44.583 179.706 67.9844C179.938 70.07 178.433 71.9486 176.347 72.1783C174.262 72.4096 172.383 70.905 172.152 68.8193C169.583 45.7085 156.015 37.8356 149.067 35.2924C148.124 43.8385 144.713 50.6678 139.921 60.2471C137.185 65.723 133.781 72.5331 130.021 81.2984C120.901 102.579 121.909 134.593 122.498 144.685L151.829 144.701" stroke="#EFB5B5" stroke-width="2" class="EHvlCfcS_0"></path>
    <style data-made-with="vivus-instant">.EHvlCfcS_0{stroke-dasharray:1582 1584;stroke-dashoffset:1583;animation:EHvlCfcS_draw_0 29200ms linear 0ms infinite,EHvlCfcS_fade 29200ms linear 0ms infinite;}@keyframes EHvlCfcS_draw{100%{stroke-dashoffset:0;}}@keyframes EHvlCfcS_fade{0%{stroke-opacity:1;}98.63013698630137%{stroke-opacity:1;}100%{stroke-opacity:0;}}@keyframes EHvlCfcS_draw_0{2.73972602739726%{stroke-dashoffset: 1583}88.35616438356165%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}</style></svg>
    <!-- end of first animation -->

    <!-- waves animation -->
     <svg class="waves" width="192" height="18" viewBox="0 0 192 18" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
    <path d="M1 5.80062C13.218 -13.2354 10.096 32.3006 24.5 5.80062C36.718 -13.2354 34.596 32.3006 49 5.80062C61.925 -13.2354 60.096 32.3006 74.5 5.80062" stroke="#3A8BBB" stroke-width="2" class="idPzwKXV_0"></path>
    <path d="M117 7.80062C129.218 -11.2354 126.096 34.3006 140.5 7.80062C152.718 -11.2354 150.596 34.3006 165 7.80062C177.925 -11.2354 176.096 34.3006 190.5 7.80062" stroke="#3A8BBB" stroke-width="2" class="idPzwKXV_1"></path>
    <style data-made-with="vivus-instant">.idPzwKXV_0{stroke-dasharray:114 116;stroke-dashoffset:115;animation:idPzwKXV_draw_0 13200ms linear 0ms infinite,idPzwKXV_fade 13200ms linear 0ms infinite;}.idPzwKXV_1{stroke-dasharray:114 116;stroke-dashoffset:115;animation:idPzwKXV_draw_1 13200ms linear 0ms infinite,idPzwKXV_fade 13200ms linear 0ms infinite;}@keyframes idPzwKXV_draw{100%{stroke-dashoffset:0;}}@keyframes idPzwKXV_fade{0%{stroke-opacity:1;}96.96969696969697%{stroke-opacity:1;}100%{stroke-opacity:0;}}@keyframes idPzwKXV_draw_0{6.0606060606060606%{stroke-dashoffset: 115}43.93939393939394%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}@keyframes idPzwKXV_draw_1{43.93939393939394%{stroke-dashoffset: 115}81.81818181818183%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}</style></svg>

    <!-- end of waves animation -->

    <!-- Beggining of second animation -->
    <svg class="palm-tree-right" width="193" height="146" viewBox="0 0 193 146" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
    <path d="M107.98 144.685H90.827C95.671 131.314 103.095 114.784 113.117 103.67C119.5 96.6094 124.922 91.2778 129.282 86.9917C136.932 79.4754 142.383 74.1126 146.04 66.311C151.801 70.9745 162.083 82.8118 157.059 105.505C156.672 107.525 157.961 109.489 159.97 109.932C161.979 110.377 163.977 109.142 164.477 107.145C169.573 84.172 160.784 70.2596 153.666 63.1347C157.938 62.832 162.167 64.154 165.506 66.8363C172.882 73.3576 171.556 86.6647 171.541 86.7969C171.32 88.8773 172.821 90.7455 174.9 90.9769C175.042 90.996 175.183 91.0047 175.326 91.0047C177.26 90.9995 178.883 89.5436 179.095 87.6214C179.175 86.9187 180.889 70.324 170.575 61.1673C168.954 59.7322 167.121 58.5546 165.143 57.6744C172.45 58.4241 179.363 61.3569 184.982 66.0918C186.552 67.3686 188.85 67.1912 190.205 65.6848C191.559 64.1801 191.494 61.8753 190.059 60.4489C181.177 52.5882 169.314 48.9805 157.56 50.5686C163.25 46.8339 170.28 45.7485 176.83 47.5889C178.819 48.2638 180.976 47.1992 181.651 45.2127C182.325 43.2245 181.261 41.0675 179.274 40.3926C169.492 37.6094 158.968 39.6725 150.957 45.9398C150.187 38.7418 146.596 32.1422 140.971 27.5865C139.953 26.6141 138.483 26.2836 137.148 26.7255C135.813 27.169 134.831 28.3136 134.597 29.7C134.363 31.0881 134.914 32.4901 136.031 33.3477C140.538 36.9015 143.26 42.2521 143.483 47.989C141.383 44.7083 138.494 42.0103 135.078 40.1421C122.127 33.0433 105.266 39.6203 104.555 39.909C102.66 40.7214 101.758 42.8957 102.521 44.8109C103.285 46.7261 105.438 47.6828 107.371 46.9661C107.512 46.9087 121.576 41.4102 131.425 46.8061C134.01 48.2725 136.137 50.4277 137.57 53.03C120.527 47.5628 104.76 59.2208 98.02 67.4208C97.157 68.4697 96.918 69.8995 97.395 71.1711C97.873 72.4427 98.992 73.3629 100.331 73.5855C101.671 73.8082 103.028 73.3002 103.89 72.2513C104.609 71.3764 120.989 51.9324 139.579 62.1727C136.54 69.2194 131.816 73.8743 123.969 81.5872C119.542 85.9428 114.028 91.3613 107.489 98.5889C95.986 111.353 87.824 130.261 82.789 144.701H77.4692C78.1233 133.575 79.0313 101.002 69.3024 78.3204C65.4616 69.3516 62 62.4284 59.2185 56.8656C54.2888 47.0235 51.3595 41.0954 50.7281 33.4416C71.5341 29.7939 80.8404 53.4683 81.2422 54.5277C82.008 56.4481 84.166 57.4048 86.102 56.6812C88.038 55.9575 89.042 53.8197 88.36 51.868C84.629 41.9199 73.4684 25.7583 55.5274 25.4539C57.7382 23.4518 60.4588 22.1019 63.3898 21.5557C74.3921 19.6562 86.015 29.3956 86.134 29.4895C87.732 30.7889 90.075 30.5767 91.416 29.0112C92.756 27.4456 92.605 25.0973 91.074 23.7179C90.491 23.2204 76.6604 11.5276 62.1165 14.0655C58.281 14.7282 54.6733 16.346 51.6257 18.7673C53.6905 13.4149 57.9957 9.23667 63.4055 7.33193C65.3555 6.55438 66.3052 4.34175 65.5259 2.39179C64.7466 0.443565 62.5357 -0.506196 60.5858 0.271355C53.7879 2.76404 48.2563 7.84856 45.2 14.4116C39.6476 5.8899 30.357 0.535757 20.2001 0.00173457C18.1006 -0.00348389 16.3959 1.69426 16.3906 3.79208C16.3854 5.89164 18.0814 7.59633 20.181 7.60155C26.9806 7.97728 33.2845 11.2823 37.4593 16.6608C26.845 11.3606 14.4494 10.9448 3.50284 15.5214C2.23644 16.0433 1.34764 17.207 1.17884 18.5673C1.01014 19.9276 1.58764 21.2722 2.68874 22.088C3.78984 22.9038 5.24584 23.0639 6.49644 22.5055V22.495C13.3761 19.7797 20.9203 19.2405 28.1148 20.9469C25.9161 21.1295 23.7591 21.6531 21.7204 22.4985C8.99094 27.83 5.24404 44.0821 5.09094 44.7779C4.63874 46.8218 5.92414 48.8483 7.96804 49.3075C8.24114 49.3684 8.51954 49.3997 8.79954 49.4014C10.5773 49.4032 12.1185 48.1716 12.5081 46.4373C12.5359 46.3086 15.587 33.2868 24.6689 29.5017C28.6975 28.037 33.1315 28.1536 37.0801 29.8252C28.0435 34.2592 15.2217 44.583 12.6229 67.9844C12.3916 70.07 13.8962 71.9486 15.9819 72.1783C18.0675 72.4096 19.9462 70.905 20.1775 68.8193C22.7467 45.7085 36.3147 37.8356 43.2622 35.2924C44.205 43.8385 47.6162 50.6678 52.4085 60.2471C55.1447 65.723 58.5488 72.5331 62.3079 81.2984C71.428 102.579 70.4208 134.593 69.8312 144.685L40.5 144.701" stroke="#EFB5B5" stroke-width="2" class="FwuGxohs_0"></path>
    <style data-made-with="vivus-instant">.FwuGxohs_0{stroke-dasharray:1582 1584;stroke-dashoffset:1583;animation:FwuGxohs_draw_0 29200ms linear 0ms infinite,FwuGxohs_fade 29200ms linear 0ms infinite;}@keyframes FwuGxohs_draw{100%{stroke-dashoffset:0;}}@keyframes FwuGxohs_fade{0%{stroke-opacity:1;}98.63013698630137%{stroke-opacity:1;}100%{stroke-opacity:0;}}@keyframes FwuGxohs_draw_0{2.73972602739726%{stroke-dashoffset: 1583}88.35616438356165%{ stroke-dashoffset: 0;}100%{ stroke-dashoffset: 0;}}</style></svg>
    <!-- end of second animation -->

    <div class="banner-text">
      <h3>Explore other hackers' projects.</h3>
      <h3 style="margin-bottom: 28px;">Share your own.</h3>
      <%= link_to "User.new",new_user_registration_path, class: "btn-signup"  %>
    </div>
  </div>
<% end %>

<!-- Nav tabs -->
<ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">all</a>
  </li>
  <% ActsAsTaggableOn::Tag.most_used(5).each do |t| %>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#<%= t.name %>" role="tab" aria-controls="profile" aria-selected="false"><%= t.name %></a>
    </li>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="all-tab">
    <div class="container">
      <div class="row">
        <% @projects.each do |project| %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <%= link_to project_path(project) do %>
              <div class="card">
                <div class="card-img-container">
                  <%= cl_image_tag project.cover_photo, alt: "image", class: "card-img-top" %>
                  <div class="overlay">
                    <p class="hover-text"><%= project.description %></p>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-content-header">
                    <h6><%= project.name %></h6>
                    <div class="avatar-list">
                      <% project.collaborations.map do |collaboration| %>
                        <%= link_to user_path(collaboration.user) do %>
                          <img src="<%= collaboration.user.profile_avatar_url %>" class="avatar-small" data-toggle="tooltip" data-placement="top" title="<%= collaboration.user.username %>">
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% ActsAsTaggableOn::Tag.most_used(5).each do |t| %>
    <div class="tab-pane" id="<%= t.name %>" role="tabpanel" aria-labelledby="<%= t.name %>-tab">
      <div class="container">
        <div class="row">
          <% @projects.tagged_with(t).each do |project| %>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <%= link_to project_path(project) do %>
                <div class="card">
                  <%= cl_image_tag project.cover_photo, alt: "image", class: "card-img-top" %>
                  <div class="card-body">
                    <div class="card-content-header">
                      <h6><%= project.name %></h6>
                      <div class="avatar-list">
                        <% project.collaborations.map do |collaboration| %>
                          <%= link_to user_path(collaboration.user) do %>
                            <img src="<%= collaboration.user.profile_avatar_url %>" class="avatar-small" data-toggle="tooltip" data-placement="top" title="<%= collaboration.user.username %>">
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>




