<% if user_signed_in? == false %>
  <div class="banner-index">

    <%= render 'first_animation' %>
    <%= render 'waves_animation' %>
    <%= render 'second_animation' %>

    <div class="banner-text">
      <h3>Explore other hackers' projects.</h3>
      <h3>Join hack sessions.</h3>
      <h3 style="margin-bottom: 28px;">Start your own.</h3>
      <%= link_to "User.new",new_user_registration_path, class: "btn-signup"  %>
    </div>
  </div>
<% end %>

<!-- Nav tabs -->
<div class="d-flex flex-row" id="myTab" role="tablist">
  <div class="justify-content-left w-25">
    <button type="button" class="btn btn-outline-secondary rounded" data-toggle="modal" data-target="" data-keyboard="false">Learn More</button>
  </div>
  <div class="d-flex flex-row justify-content-center w-50">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">all</a>
      </li>
      <% ActsAsTaggableOn::Tag.most_used(5).each do |t| %>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#<%= t.name %>" role="tab" aria-controls="profile" aria-selected="false"><%= t.name %></a>
      </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="dropdown" href="#" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">...</a>
          <% most_common = ActsAsTaggableOn::Tag.most_used(5) %>
          <% all_other_tags = [] %>
          <% ActsAsTaggableOn::Tag.all.each do |t| %>
            <% if !most_common.include?(t) %>
              <% all_other_tags << t.name %>
            <% end %>
          <% end %>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% all_other_tags.sort.each do |tag| %>
            <a class="dropdown-item" data-toggle="tab" href="#<%= tag %>" role="tab" aria-selected="false" aria-expanded="false"><%= tag %></a>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-end w-25">
    <button type="button" class="btn btn-outline-secondary rounded" data-toggle="modal" data-target="#indexMap"data-keyboard="false">Find Hackers Nearby</button>
  </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="all-tab">
    <div class="container">
      <div class="row">
        <% @projects.each do |project| %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <%= link_to project_path(project) do %>
              <div class="card">
                <div class="card-img-container">
                  <%= cl_image_tag project.cover_photo, alt: "image", class: "card-img-top" %>
                  <div class="overlay">
                    <div class="hover-text">

                        <!-- <p class="project-text">< project.project_type </p>
                        <p class="project-text"><project.description </p> -->

                    </div>
                    <!-- add hacker session information -->
                    <div class="hacker-session-text" style="padding: 30px 30px; color:#BF3F50; ">
                    <% if project.hacker_days.empty? %>
                      <p><strong>No Hacker Sessions available</strong></p>
                    <% else %>
                      <% project.hacker_days.each do |h| %>
                      <p><strong>Next hacker session</strong></p>
                      <p><%= h.address %></p>
                      <p><%= h.date.strftime('%A, %d %b %Y %l:%M %p') %></p>
                      <% end %>
                    <% end %>
                    </div>
                    <!-- end of hacker session -->
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-content-header">
                    <h6><%= project.name %></h6>
                    <div class="avatar-list">
                      <% project.collaborations.map do |collaboration| %>
                        <%= link_to user_path(collaboration.user) do %>
                          <img src="<%= collaboration.user.profile_avatar_url %>" class="avatar-small" data-toggle="tooltip" data-placement="top" title="<%= collaboration.user.username %>">
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% ActsAsTaggableOn::Tag.all.each do |t| %>
    <div class="tab-pane" id="<%= t.name %>" role="tabpanel" aria-labelledby="<%= t.name %>-tab">
      <div class="container">
        <div class="row">
          <% @projects.tagged_with(t).each do |project| %>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <%= link_to project_path(project) do %>
                <div class="card">
                  <%= cl_image_tag project.cover_photo, alt: "image", class: "card-img-top" %>
                  <div class="card-body">
                    <div class="card-content-header">
                      <h6><%= project.name %></h6>
                      <div class="avatar-list">
                        <% project.collaborations.map do |collaboration| %>
                          <%= link_to user_path(collaboration.user) do %>
                            <img src="<%= collaboration.user.profile_avatar_url %>" class="avatar-small" data-toggle="tooltip" data-placement="top" title="<%= collaboration.user.username %>">
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Map Modal -->
<div class="modal fade" id="indexMap" tabindex="-1" role="dialog" aria-labelledby="hackerDayMapModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-container">
        <div class="modal-header">
          <h5 class="modal-title" id="hackerDayMapModalLabel">Upcoming HackSessions Nearby</h5>
        </div>
        <div class="modal-body">
          <div id="map" style="width: 100%; height: 600px" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>




