<div class="submenu-tall" style="justify-content: center">
  <h4 class="sub-header">What are you working on?</h4>
</div>

<div class="container">
  <div class="row form-add-project">
    <div class="col-lg-8">
      <div class="form-box">
        <%= simple_form_for @project do |f| %>
          <%= f.input :name, autofocus: true, label: "Project Name" %>
          <%= f.input :description, label: "Short Project Description" %>
          <%= f.input :cover_photo, label: "Landing Page Screenshot" %>
          <%= f.input :cover_photo_cache, as: :hidden %>
          <%= f.input :type, as: :radio_buttons, label: "Project Type", collection: ["Mobile", "Web", "Both"], wrapper: :vertical_collection_inline %>
          <%= f.input :url, label: "Project Link" %>
          <%= f.label :name, "Project Categories (ex. blockchain, javascript, ruby, wechat, etc.)" %>
          <div data-tags-input-name="project[tag_list]" id="tag"></div>
          <p>Press enter, comma or spacebar to create a new tag; backspace or delete to remove.</p>
          <%= f.button :submit, "Project.new", class: "btn-signup" %>
          <%= f.button :button, "Reset", type: "reset", class: "btn-reset" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

