<h1>Project Show Page</h1>

<!-- All informations about one project -->
<!-- Still need to add pictures -->
<!-- cover photo, photo1, photo2, photo3 -->

<!-- cl_image_tag(@project.cover_photo, :width => 200, :height => 150, :crop => :fill)
cl_image_tag(@project.photo1, :width => 200, :height => 150, :crop => :fill)
cl_image_tag(@project.photo2, :width => 200, :height => 150, :crop => :fill)
cl_image_tag(@project.photo3, :width => 200, :height => 150, :crop => :fill) -->

<%= @project.name %>
<%= @project.description %>
<p><%= @project.user.first_name %>

<% if policy(@project).edit? %>
<%= link_to 'Edit Project', edit_project_path(@project), class: "btn btn-light" %>
<% end %>
<% if policy(@project).destroy? %>
<%= link_to 'Destroy Project', project_path(@project), method: 'delete', class: "btn btn-light" %>
<% end %>
<%= link_to 'Comment', new_project_comment_path(@project), class: "btn btn-light" %>

<!-- All the comements -->
<% @project.comments.each do |c| %>
<p><%= c.user.first_name %></p>
<p><%= c.content %></p>
<% end %>

<!-- Adding a new comment -->
<%= simple_form_for [@project, @comment] do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end -%>

