<div class="body-container">
  <!-- Headline -->

  <div class="submenu-tall" style="justify-content: center">
    <h4 class="sub-header">Help <%= @project.user.username %>'s project become better</h4>
  </div>

  <!-- Project owner information and like/follow buttons -->

  <div class="container">
    <div class="row" style="justify-content: center;">
      <div class="col col-sm-12 col-lg-8">
        <div class="submenu-show">
          <img src="<%= @project.user.profile_avatar_url %>" class="avatar-large">
          <div class="project-details">
            <h4><%= @project.name %></h4>
            <p>by <%= link_to @project.user.username, user_path(@project.user) %>
            </p>
          </div>
          <a href="#" class="btn-social" style="margin-right: 8px;">Follow</a>
          <a href="#" class="btn-social"><i class="fas fa-heart"></i> Like</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Project image(s) -->

  <div class="container">
    <div class="row" style="justify-content: center;">
      <div class="col-lg-8">
        <%= cl_image_tag(@project.cover_photo, class: "project-photo") %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row" style="justify-content: center;">
    <div class="col-lg-8">
      <div class="container-description">
        <div class="row" style="width: 100%;">
          <div class="col-md-8">
            <div class="box-description">
              <div class="text-description">
                <%= @project.description %>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="icons-project-crud">
              <% if policy(@project).edit? %>
                <%= link_to edit_project_path(@project) do %>
                    <i class="fas fa-edit icon" data-toggle="tooltip" data-placement="top" title="Edit project details"></i>
                <% end %>
              <% end %>
              <% if policy(@project).destroy? %>
                <%= link_to project_path(@project), method: 'delete', data: { confirm: "Are you sure?" } do %>
                    <i class="far fa-trash-alt icon" data-toggle="tooltip" data-placement="top" title="Delete project"></i>
                <% end %>
              <% end %>
            </div>
            <div class="box-project-public">
              <%= link_to "#" do %>
              <i class="fas fa-link" style="padding-right: 6px;"></i>
              <p>Project link</p>
              <% end %>
              <%= link_to "#" do %>
                <i class="fab fa-github-square"></i>
                <p>Project repository</p>
              <% end %>
              <%= link_to "#" do %>
                <i class="fas fa-envelope-square"></i>
                <p>Contact project owner</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="justify-content: center;">
    <div class="col-lg-8">
      <div class="container-description">
        <div class="row" style="width: 100%;">
          <div class="col-md-8">
            <div class="box-hacksession">
              <% if @hacker_days.empty? == false %>
                <% @att = @hacker_days.last.attendants %>
                <% if current_user.nil? == false && @att.include?(current_user.id.to_s) == false %>
                  <h6>Next Hack Session</h6>
                  <p><strong>Date and time: </strong><%= @hacker_days.last.date %>
                  <br />
                  <strong>Address: </strong><%= @hacker_days.last.location %></p>

                  <%= simple_form_for [@project, @hacker_days.last], method: 'put' do |f| %>
                    <% @hacker_days.last.attendants.each do |uid| %>
                      <%= f.hidden_field :attendants, value: uid, multiple: true %>
                    <% end %>
                    <%= f.hidden_field :attendants, value: current_user.id, multiple: true %>
                    <%= f.button :submit, "Join", class: "btn-signup" %>
                  <% end %>
                <% elsif current_user.nil? %>
                  <p>Please login to join hack sessions!</p>
                <% else %>
                  <p>Registered to the next hack session on <em><%= @hacker_days.last.date %></em> at <strong><%= @hacker_days.last.location %>.</strong></p>
                <% end %>
              <% else %>
                <p>Currently no hack session scheduled for this project.</p>
              <% end %>

              <!-- Create Hacker Day Modal -->

              <% if policy(@project).edit? && (@project.hacker_days.empty? || DateTime.now > @project.hacker_days.last.date) %>
                <button type="button" class="btn btn-signup" data-toggle="modal" data-target="#hackerDayModal">
                  HackSession.new
                </button>
              <% end %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-hack-info">
              <h6 style="margin:0;">Hack Team</h6>

              <div class="box-collaborators">
                <i class="fas fa-users"></i>
                <div class="avatar-list">
                  <% @project.hacker_days.map do |hacker_day| %>
                    <% hacker_day.attendants.each do |attendant| %>
                      <%= link_to user_path(attendant) do %>
                        <img src="<%= User.find(attendant).profile_avatar_url %>" class="avatar-small" data-toggle="tooltip" data-placement="top" title="<%= User.find(attendant).username %>">
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row" style="justify-content: center;">
    <div class="col-lg-8">

      <div class="container-description">
        <div class="row" style="width: 100%;">
          <div class="col-md-8">

            <div class="box-comments">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" id="commentTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="public-chat-tab" data-toggle="tab" href="#public-chat" role="tab" aria-controls="public-chat" aria-selected="true">Public Chat</a>
                </li>
                <% if @hacker_days.empty? == false %>
                  <% @att = @hacker_days.last.attendants %>
                  <% if current_user.nil? == false && @att.include?(current_user.id.to_s) %>
                    <li class="nav-item">
                      <a class="nav-link" id="team-chat-tab" data-toggle="tab" href="#team-chat" role="tab" aria-controls="team-chat" aria-selected="false">Team Chat</a>
                    </li>
                  <% end %>
                <% end %>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="public-chat" role="tabpanel" aria-labelledby="public-chat-tab">
                  <%= render 'public_chat' %>
                </div>
                <div class="tab-pane" id="team-chat" role="tabpanel" aria-labelledby="team-chat-tab">
                  <% if @hacker_days.empty? == false %>
                    <%= render 'team_chat' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box-tags">
              <i class="fas fa-tag"></i>
              <div class="tags">
                <% @project.tag_list.each do |t| %>
                <span><%= link_to t, "#" %></span>
                <% end %>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>
  </div>
</div>

<!-- Modal -->

<%= render 'new_hack_session' %>

<!-- Likes -->
<%= button_to 'Like', project_likes_path(@project), method: :post %>
<p><%= @project.likes.count %> <%= (@project.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<!-- End Likes -->


<!-- Public Chat JavaScript -->
<script>
  const commentForm = document.querySelector("#new_comment");
  const commentList = document.querySelector(".box-comment-messages");
  const numberComments = document.querySelector(".number-comments");
  let commentSize = `<%= @project.comments.size %>`;

  const showComment = (id) => {
    Rails.ajax({
      url: `/projects/<%= @project.id %>/comments/${id}`,
      type: "get",
      data: ""
    })
  };

  const listComments = (data) => {
    i = 0
    data.forEach((comment) => {
      i ++;
      if (i > commentSize) {
        commentSize = comment.id;
        showComment(comment.id);
        numberComments.innerHTML = `<h6>${i} comments</h6>`
      }
    });
  };

  const getComments = () => {
    Rails.ajax({
      url: "<%= project_comments_path(@project.id) %>",
      type: "get",
      data: "",
      success: function(data) {
        listComments(data);
      },
      error: function(data) {
        console.log(data);
      }
    })
  };


  commentForm.addEventListener('ajax:success', (e) => {
    commentSize = parseInt(commentSize) + 1;
    getComments();
    numberComments.innerHTML = `<h6>${commentSize} comments</h6>`
  });

  document.addEventListener("DOMContentLoaded", () => {
    setInterval(getComments, 2000);
  });

</script>

<!-- Team Chat JavaScript -->
<% if @project.hacker_days.empty? == false %>
  <script>
    const teamCommentForm = document.querySelector("#new_team_comment");
    const teamCommentList = document.querySelector(".box-team-comment-messages");
    const numberTeamComments = document.querySelector(".number-team-comments");
    let teamCommentSize = `<%= @project.hacker_days.last.team_comments.size %>`;
    console.log(teamCommentSize);

    const showTeamComment = (id) => {
      Rails.ajax({
        url: `/projects/<%= @project.id %>/team_comments/${id}`,
        type: "get",
        data: ""
      })
    };

    const listTeamComments = (data) => {
      i = 0
      data.forEach((team_comment) => {
        i ++;
        if (i > teamCommentSize) {
          teamCommentSize = team_comment.id;
          showTeamComment(team_comment.id);
          numberTeamComments.innerHTML = `<h6>${i} comments</h6>`
        }
      });
    };

    const getTeamComments = () => {
      Rails.ajax({
        url: "<%= project_team_comments_path(@project.id) %>",
        type: "get",
        data: "",
        success: function(data) {
          listTeamComments(data);
        },
        error: function(data) {
          console.log(data);
        }
      })
    };


    teamCommentForm.addEventListener('ajax:success', (e) => {
      teamCommentSize = parseInt(teamCommentSize) + 1;
      getTeamComments();
      numberTeamComments.innerHTML = `<h6>${teamCommentSize} comments</h6>`
    });

    document.addEventListener("DOMContentLoaded", () => {
      setInterval(getTeamComments, 2000);
    });

  </script>
<% end %>

