<div class="body-container">
  <div class="submenu-tall" style="justify-content: center">
    <h4 class="sub-header">Help <%= @project.user.username %>'s project become better</h4>
  </div>

  <div class="container">
    <div class="row" style="justify-content: center;">
      <div class="col col-sm-12 col-lg-8">
        <div class="submenu-show">
          <%= cl_image_tag @project.user.avatar, class: "avatar-large" %>
          <div class="project-details">
            <h4><%= @project.name %></h4>
            <p>by <%= link_to @project.user.username, user_path(@project.user) %>
            </p>
          </div>
          <a href="#" class="btn-social" style="margin-right: 8px;">Follow</a>
          <a href="#" class="btn-social"><i class="fas fa-heart"></i> Like</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row" style="justify-content: center;">
      <div class="col-lg-8">
        <!-- # cl_image_tag @project.cover_photo, class: "project-photo" -->
        <div id="carouselExampleIndicators" class="carousel slide flex-shrink-1" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner rounded">
            <div class="carousel-item active">
              <%= cl_image_tag(@project.cover_photo, class: "project-photo") %>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag(@project.photo1, class: "project-photo") %>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag(@project.photo2, class: "project-photo") %>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag(@project.photo3, class: "project-photo") %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="justify-content: center;">
    <div class="col-lg-8">

      <div class="container-description">
        <div class="row" style="width: 100%;">
          <div class="col-md-8">
            <div class="box-description">
              <div class="text-description">
                <%= @project.description %>
              </div>
            </div>

            <div class="box-comments">
              <%= simple_form_for [@project, @comment] do |f| %>
                <%= f.input :content, label: "Leave a comment:" %>
                <%= f.submit %>
              <% end %>
              <h6>
                Number of comments: <%= @project.comments.size %>
              </h6>
              <% @project.comments.order(id: :desc).each do |c| %>
                <div class="comment-header">
                  <img src="<%= c.user.avatar.url %>" class="avatar-small">
                  <p><%= link_to c.user.username, user_path(c.user) %></p>
                </div>
                <div class="comment-content">
                  <p><%= c.content %></p>
                </div>
              <% end %>

            </div>
          </div>

          <div class="col-md-4">
            <div class="icons-project-crud">
              <% if policy(@project).edit? %>
                <h6>Project Management</h6>
                <%= link_to edit_project_path(@project) do %>
                    <i class="fas fa-edit icon"></i>
                <% end %>
              <% end %>
              <% if policy(@project).destroy? %>
                <%= link_to project_path(@project), method: 'delete', data: { confirm: "Are you sure?" } do %>
                    <i class="far fa-trash-alt icon"></i>
                <% end %>
              <% end %>
            </div>

            <h6 style="margin:0;">Project Collaborators</h6>

            <div class="box-collaborators">
              <i class="fas fa-users"></i>
              <div class="avatar-list">
                <% @project.collaborations.map do |collaboration| %>
                  <%= link_to user_path(collaboration.user) do %>
                    <img src="<%= collaboration.user.avatar %>" class="avatar-small" data-toggle="tooltip" data-placement="top" title="<%= collaboration.user.username %>">
                  <% end %>
                <% end %>
              </div>
            </div>
            <% if policy(@project).update? %>
              <%= simple_form_for [@project, @collaboration] do |f| %>
                <%= f.input :user, collection: @users %>
                <%= f.submit %>
              <% end %>
            <% end %>

            <%= link_to "Link to Github repository", "#"  %>
            <%= link_to "Contact", "#"  %>

          </div>

        </div>
      </div>


    </div>
  </div>
</div>


<!-- All informations about one project -->
<!-- Still need to add pictures -->
<!-- cover photo, photo1, photo2, photo3 -->

<!-- cl_image_tag(@project.cover_photo, :width => 200, :height => 150, :crop => :fill)
cl_image_tag(@project.photo1, :width => 200, :height => 150, :crop => :fill)
cl_image_tag(@project.photo2, :width => 200, :height => 150, :crop => :fill)
cl_image_tag(@project.photo3, :width => 200, :height => 150, :crop => :fill) -->



<!-- PROJECT TAGS -->
<!-- <h3>Project Tags</h3> -->
<%# @project.tags.each do |t| %>
<!-- <p> #t.name %></p> -->
<!-- end -->


