<div class="submenu-tall" style="justify-content: center">
  <h4 class="sub-header">Login</h4>
</div>

<div class="container">
  <div class="row form-add-project">
    <div class="col-8">
      <div class="form-box">

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Login", class: "btn-signup" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<div class="log-in-alt">
  <%= render "devise/shared/links" %>
</div>
